In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [2]:
str_variable = "Hello"

In [5]:
list_variable = [1,2,3,"abc",1.2]

In [6]:
float_variable = 2.4

In [7]:
tuple_variable = (2,4,5,6)

In [8]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

In [10]:
var1 = ''

In [12]:
type(var1)

str

In [13]:
var2 = '[ DS , ML , Python]'

In [14]:
type(var2)

str

In [16]:
var3 = ['DS' , 'ML' , 'Python']

In [17]:
type(var3)

list

In [18]:
var4 = 1.

In [19]:
type(var4)

float

In [20]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [25]:
# "/" operator is used for division, gives float type in output
25/5

5.0

In [28]:
# "%" which is called modulo is used to get remainder after division
19%17

2

In [29]:
# "//" it is used for floor division, gets the nearest integer value after division
22//3

7

In [30]:
# "**" is used for exponent
2**3

8

In [31]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [32]:
my_list = [1,2,3,2.1,"abc",(2,6,7),[6,4,8,8]]

In [34]:
for item in my_list:
    print(item)
    print(type(item))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
2.1
<class 'float'>
abc
<class 'str'>
(2, 6, 7)
<class 'tuple'>
[6, 4, 8, 8]
<class 'list'>

In [35]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [18]:
A = int(input("Enter first number : "))
B = int(input("Enter second number : "))

Enter first number :  8
Enter second number :  2

In [19]:
while A % B == 0:
    print(A, "is divisible by", B, A/B,"times")
    break
else:
    print(A, "is not divisible by", B)

8 is divisible by 2 4.0 times

In [45]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [46]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [47]:
for element in list1:
    if element%3 == 0:
        print("The element is divisible by 3")
    else:
        print("The element is NOT divisible by 3")

The element is NOT divisible by 3
The element is NOT divisible by 3
The element is divisible by 3
The element is NOT divisible by 3
The element is NOT divisible by 3
The element is divisible by 3
The element is NOT divisible by 3
The element is NOT divisible by 3
The element is divisible by 3
The element is NOT divisible by 3
The element is NOT divisible by 3
The element is divisible by 3
The element is NOT divisible by 3
The element is NOT divisible by 3
The element is divisible by 3
The element is NOT divisible by 3
The element is NOT divisible by 3
The element is divisible by 3
The element is NOT divisible by 3
The element is NOT divisible by 3
The element is divisible by 3
The element is NOT divisible by 3
The element is NOT divisible by 3
The element is divisible by 3
The element is NOT divisible by 3

In [48]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [50]:
# Answer: The mutable data types can be modified  in the same object without actually creating another object, examples: list, set, dict 
# the immutable data types do not allow modifying the object in its place

In [2]:
# immutable type
sample_str = "Hello I am a string"

In [8]:
# this code will give TypeError: 'str' object does not support item assignment
sample_str[0]= "h"

TypeError: 'str' object does not support item assignment

In [9]:
# mutable type
sample_list= [1,2,3,4,5]

In [10]:
sample_list[1]= 8

In [12]:
# the list has been updated at index 1, hence mutable
sample_list

[1, 8, 3, 4, 5]